# Repository Configuration
REPOSITORY_URL=https://github.com/NikBulygin/refty-infra-test/
BRANCH=main

# API Key
API_KEY=your_api_key_here

# Application Configuration
NODE_ENV=development
PORT=3000
LOG_LEVEL=info
APP_VERSION=1.0.0

# Docker Configuration
EXTERNAL_PORT=3000
